.codeViewContainer {
  display: flex;
  flex-direction: column;
  width: 47%;
  white-space: pre-wrap;
  background-color: #1e1e1e;
  border-radius: 10px;
  max-height: 40vh;
  overflow-y: auto;
  position: relative;
}
.languageLabel {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.75rem; /* text-xs */
  color: #9ca3af; /*text-gray-400 */
}
.syntaxHighlight {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
}
.scroll_container {
  overflow-y: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll_container::-webkit-scrollbar {
  display: none;
}
